aiohttp>=3.7.4
dj-database-url
django==3.1.14
django-environ
django-jquery
psycopg2-binary
python-dotenv
requests
raven
sentry_sdk
django-staff-sso-client
cloudfoundry-client>=1.16.0
whitenoise
gunicorn
urllib3==1.26.5
protobuf>=3.15.0
