aiohttp>=3.7.4
dj-database-url
django==4.2.8
django-environ
django-jquery
psycopg2-binary
python-dotenv
requests
raven
sentry_sdk
django-staff-sso-client==4.2.1
cloudfoundry-client>=1.16.0
whitenoise
gunicorn
urllib3>=1.26.5
protobuf>=3.19.5

#Dependabot Alert
certifi==2022.12.7
oauthlib>=3.2.2
